/dts-v1/;
/plugin/;

/{
	compatible = "brcm,bcm2835";

	fragment@0 {
		target = <&gpio>;
		__overlay__ {
			dht11_pins:dht11_pins {
				compatible = "dht11,sensor";
				gpios = <&gpio 516>; 
			};
		};
	};
};
